.carousel-container {
  width: 100%;
  height: 300px;
  background-color: pink;
  box-sizing: border-box;
  z-index: 1000000000;
}

.img-container {
  width: 100%;
  height: 100%;
  background-color: rgb(19, 44, 52);
  display:flex;
  overflow: hidden;
}

.img-container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: translate 700ms ease-in-out;
  animation: slide 1.5s ease-in-out;
}

.buttons-container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 60%;
  display: block;
  text-decoration: bold;
}

.buttons-container button {
  background-color: bisque;
  color: rgb(28, 27, 27);
}


.fade {
  animation: fadeIn 1s;
}

@keyframes slide {
  100% { translate: -100%; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 940px) {
  .carousel-container{
    height: 40vh;
  }
  .buttons-container {
    top: 49%;
    left: 50%;
    transform: translateX(-100%);
    scale: 0.5;
  }
}

@media only screen and (max-width: 820px) {
  .buttons-container {
    top: 47%;
  }
}
