.main-container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: bisque;
  margin-top: 38px;
  height: 90svh;
  flex-direction: column;
  padding: 1rem
}

.legend-error {
  background-color: rgb(105, 41, 41);
  opacity: 0.8;
  min-height: 50%;
  min-width: 50%;
  flex-direction: column;
  max-width: 50%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-container-success button {
  font-size: 2.4vh;
  max-width: 50%;
  min-width:  50%;
  min-height: 12%;
  max-height: 12%;
}