body {
  background-color: #e3c96e;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  color-scheme: light dark;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  margin: 0.7rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 43200;
  font-family: inherit;
  background-color: #1B2021;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  color: #1B2021;
  background-color: #E3DC95;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

