.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  min-height: calc(100svh - 70px - 50px);
  background-color: #e3c96e;
  box-sizing: border-box;
  margin-top: 70px;
  align-items: center;
}

.footer {
  z-index: 10000;
  height: 50px;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  position: absolute;
  background-color: #1B2021;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color:#c2b175
}

.header {
  z-index: 10000;
  top: 0;
  left: 0;
  position: fixed;
  color: rgb(163, 23, 133);
  background-color: #1B2021;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header div {
  cursor: pointer;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:1%;
  font-size: 1em;
  color: rgb(211, 209, 209);
}
.sesion{
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 5%;
  color: rgb(143, 169, 204);
  text-decoration: underline;
  animation: scaleAnimation 1.4s ease-in-out infinite;
}

@keyframes scaleAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(0.96 ); }
  100% { transform: scale(1); }
}

.header div img {
  max-width: 8vw;
  max-height: 8vh;
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 940px) {
  .title {
    margin: 0;
    font-size: 0.8em;
  }
  .sesion{
    font-size: 0.7em;
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {
  .title {
    width: 70% !important;
    margin: 0;
    font-size: 0.8em;
  }
  .sesion{
    width: 30% !important;
    font-size: 0.5em;
  }
}


