.payment-container {
  background-color: #51513D;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  box-sizing: border-box;
  align-items: center;
  color: black;
  width: 100%;
  margin-left: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  margin-bottom: 50px;
}
