.product-detail-container {
  display: flex;
  width: 100%;
  background-color: #51513D;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  margin-bottom: 50px;
}

.product-detail-img-container {
  width: 25%;
  height: 25%;
}

.product-detail-img {
  width: 50%;
  height: 50%;
  object-fit: fill;
}
.left-side {
  display:flex;
  width: 50%;
  min-height: 40%;
  max-height: 40%;

}

.right-side {
  display:flex;
  flex-direction: column;
  min-height: 40%;
  max-height: 40%;
  width: 40%;
  font-size: small;
  text-align: center;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center ;
}
.price {
  display:flex;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: rgba(84, 206, 57, 0.395) ;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 0.4Rem;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-items: center;
  align-items:  center ;

}

.container-title {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  width: 100%;
  min-height: 10%;
  font-size: 0.6rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 940px) {
  .product-detail-container {
    flex-direction: column;
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    justify-items: center;
    justify-content: space-evenly;
  }
  .left-side {
    margin: 0;
    width: 100%;
  }
  .right-side {
    margin: 0;
    width: 100%;
  }
  .price {
    font-size: 1rem;
  }
  .container-title {
    padding: 0;
  }
  .product-detail-description {
    max-height: 70px;
    min-height: 70px;
    overflow: scroll;
  }
  .product-detail-img-container {
    width: 250px;
    height: 250px;
    background-color: red;
  }
  
  .product-detail-img {
    width: 220px;
    height: 220px;
    object-fit: fill;
  }
}

