.product-list-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  /* grid-auto-rows: repeat(auto-fit, minmax(30%, 1fr)); */
  background-color: #e3c96e;
  align-items: flex-start;
  padding-top: 2%;
  margin-bottom: 50px ;
  justify-content: space-around;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  margin-bottom: 20px;
  /* justify-content: center; */
  align-items: center;
  background: #51513D;
  color: #f6f6f6;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 1%;
}

.description {
  display: flex;
  min-width: 90%;
  height: 20%;
  max-height: 20%;
  min-height: 20%;
}

.title-card {
  display: flex;
  min-width: 90%;
  height: 10%;
  max-height: 10%;
  min-height: 10%;

}

.card-img-container {
  width: 100%;
  height: 50%;
  min-height: 50%;
  max-height: 50%;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: fill;
}