.main-container-purchases {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: bisque;
  margin-top: 76px;
  height: 90svh;
  flex-direction: column;
  padding: 1rem;
  margin-top: 38px;
}